In [ ]:
# https://www.bseindia.com/corporates/results.aspx?Code=532648&Company=YES%20BANK%20LTD.&qtr=81.50&RType=
# https://www.bseindia.com/bseplus/AnnualReport/532648/5326480314.pdf

# pip install pdf2image PyPDF2 tabula-py pdftotree pandas jupyterlab
# pip install pdftabextract

# pip install git+https://github.com/pdfminer/pdfminer.six.git
# https://stackoverflow.com/questions/25665/python-module-for-converting-pdf-to-text?rq=1

# https://stackoverflow.com/questions/28532770/extract-identify-tables-from-pdf-python
    
# tesseract c9c2f555-2f2b-4e01-bc79-b33529dbf91b-152.png out hocr
# tesseract c9c2f555-2f2b-4e01-bc79-b33529dbf91b-152.png out pdf
# https://github.com/tesseract-ocr/tesseract/wiki
# https://stackoverflow.com/questions/29087739/tesseract-ocr-text-order-for-documents-with-tables-or-rows

# https://www.ghostscript.com/doc/current/Use.htm

In [2]:
from tabula import read_pdf

In [8]:
filename = '137964189.pdf'
df = read_pdf(filename, pages=[106])
df[:4]

,As at Particulars Notes,As at,As at.1,Unnamed: 3
0,NaN,"March 31, 2017","March 31, 2016","April 01, 2015"
1,ASSETS,NaN,NaN,NaN
2,I. Non-current assets,NaN,NaN,NaN
3,"(a) Property, plant and equipment 5","2,877.90","2,815.07","2,601.50"

In [ ]:
import io
 
from pdfminer.converter import TextConverter
from pdfminer.pdfinterp import PDFPageInterpreter
from pdfminer.pdfinterp import PDFResourceManager
from pdfminer.pdfpage import PDFPage
 
def extract_text_from_pdf(pdf_path):
    resource_manager = PDFResourceManager()
    fake_file_handle = io.StringIO()
    converter = TextConverter(resource_manager, fake_file_handle)
    page_interpreter = PDFPageInterpreter(resource_manager, converter)
 
    with open(pdf_path, 'rb') as fh:
        for page in PDFPage.get_pages(fh, 
                                      caching=True,
                                      check_extractable=True):
            page_interpreter.process_page(page)
 
        text = fake_file_handle.getvalue()
 
    # close open handles
    converter.close()
    fake_file_handle.close()
 
    if text:
        return text

from pdfminer.pdfparser import PDFParser
from pdfminer.pdfdocument import PDFDocument

# Open a PDF document.
fp = open(filename, 'rb')
parser = PDFParser(fp)
document = PDFDocument(parser)

# Get the outlines of the document.
outlines = document.get_outlines()
for (level,title,dest,a,se) in outlines:
    print (level, title)
    
    
# if __name__ == '__main__':
#     print(extract_text_from_pdf(filename))

In [7]:
!pdf2txt.py -o ValueResearchFundcard.xml ValueResearchFundcard.pdf

In [ ]:
import PyPDF2
pdfFileObj = open(filename, 'rb')
pdfReader = PyPDF2.PdfFileReader(pdfFileObj)
page=pdfReader.numPages
print(page)
file = open('xx.txt', "w", encoding='UTF-8')
for i in [1]:
    pageObj = pdfReader.getPage(i)
    convert=pageObj.extractText()
    print(convert)
    file.write(convert)
file.close()
pdfFileObj.close()

In [22]:
# https://github.com/HazyResearch/pdftotree
import pdftotree

pdftotree.parse(filename, html_path=None, model_type=None, model_path=None, favor_figures=True, visualize=False)

In [24]:
# https://github.com/Belval/pdf2image
# https://stackoverflow.com/questions/46184239/python-extract-a-page-from-a-pdf-as-a-jpeg
from pdf2image import convert_from_path, convert_from_bytes
import os
filename = 'test/20037370.pdf'
page = 4
convert_from_path(filename, dpi=150, output_folder='outputs/', first_page=page, last_page=page, fmt='png')

In [25]:
image_path = 'outputs/7c013cdc-1cf4-4bff-abcd-12360b166927-4.png'
os.system('tesseract --oem 1 -l eng --psm 6 %s %s pdf' % (image_path, filename))

0

In [18]:
# !pdfimages -f 1 -l 3 -png 137964189.pdf -list

In [16]:
!pdftoppm -f 14 -l 16 -png test/605988.pdf outputs/ds

Syntax Error: No display font for 'ArialUnicode'

In [1]:
table_pages = [(31, 0.938, 'is', True, False), (37, 0.479, 'cf', False, False), (51, 0.371, 'bs', False, False), (52, 0.436, 'bs', False, False), (53, 0.415, 'bs', False, False), (54, 0.852, 'cf', False, False), (55, 0.337, 'bs', False, False), (56, 0.459, 'bs', False, False), (57, 0.567, 'bs', True, False), (58, 0.978, 'cf', False, False), (60, 0.541, 'is', False, False), (74, 0.704, 'cf', False, False), (78, 0.378, 'cf', False, False), (79, 0.417, 'bs', False, False), (86, 0.627, 'is', True, False), (106, 0.992, 'bs', False, False), (107, 0.994, 'is', False, False), (108, 0.553, 'cf', False, False), (109, 0.986, 'cf', False, False), (110, 0.369, 'is', False, False), (114, 0.885, 'cf', False, True), (115, 0.39, 'cf', False, True), (132, 0.497, 'cf', False, True), (133, 0.97, 'bs', False, True), (134, 0.331, 'bs', False, True), (135, 0.825, 'cf', False, True), (136, 0.625, 'cf', False, True), (137, 0.63, 'cf', False, True), (141, 0.956, 'bs', False, True), (144, 0.932, 'is', False, True), (152, 0.352, 'bs', False, True), (155, 0.428, 'bs', False, True), (157, 0.893, 'cf', False, True), (165, 0.499, 'bs', False, True), (166, 0.641, 'cf', False, True), (169, 0.831, 'cf', False, True), (174, 0.988, 'bs', True, False), (175, 0.982, 'is', True, False), (176, 0.422, 'cf', True, False), (177, 0.985, 'cf', True, False), (178, 0.383, 'is', True, False), (183, 0.886, 'cf', False, False), (195, 0.294, 'bs', True, True), (197, 0.341, 'bs', True, True), (200, 0.553, 'cf', True, True), (201, 0.709, 'bs', True, True), (202, 0.71, 'bs', True, True), (203, 0.933, 'bs', True, True), (204, 0.893, 'cf', True, True), (205, 0.612, 'cf', True, True), (206, 0.803, 'cf', True, True), (207, 0.413, 'cf', True, True), (208, 0.33, 'bs', True, True), (210, 0.695, 'bs', True, True), (213, 0.933, 'is', True, True), (214, 0.885, 'is', True, True), (220, 0.366, 'is', True, True), (221, 0.453, 'bs', True, True), (228, 0.887, 'cf', True, True), (229, 0.732, 'cf', True, True), (237, 0.611, 'cf', True, True), (238, 0.625, 'cf', True, True), (241, 0.854, 'cf', True, True), (242, 0.456, 'cf', True, True), (244, 0.496, 'bs', True, True), (245, 0.575, 'is', True, True), (246, 0.457, 'bs', True, True), (247, 0.462, 'bs', True, True), (251, 0.422, 'is', True, False)]

In [2]:
import pandas as pd

In [18]:
df = pd.DataFrame(table_pages, columns=['page', 'prob', 'type', 'consolidated', 'is_note'])
df = df[df.prob>0.9]
df['type'] = df['type'].apply(lambda x: x.replace('is', 'Income statement').replace('bs', 'Balance statement').replace('cf', 'Cashflow statement'))
df.sort_values(['type', 'prob', 'consolidated'], ascending=False).groupby('type').head(5)

    page   prob                type  consolidated  is_note
16   107  0.994    Income statement         False    False
37   175  0.982    Income statement          True    False
0     31  0.938    Income statement          True    False
54   213  0.933    Income statement          True     True
29   144  0.932    Income statement         False     True
18   109  0.986  Cashflow statement         False    False
39   177  0.985  Cashflow statement          True    False
9     58  0.978  Cashflow statement         False    False
15   106  0.992   Balance statement         False    False
36   174  0.988   Balance statement          True    False
23   133  0.970   Balance statement         False     True
28   141  0.956   Balance statement         False     True
47   203  0.933   Balance statement          True     True

In [21]:
imp_tb_types = ['Income statement', 'Balance statement', 'Cashflow statement']
for p_num, tb_type in df[['page', 'type']].values:
#     print(p_num, tb_type)
    if tb_type in imp_tb_types:
        print(tb_type)

Income statement
Cashflow statement
Balance statement
Income statement
Cashflow statement
Balance statement
Balance statement
Income statement
Balance statement
Income statement
Cashflow statement
Balance statement
Income statement