# Improve your Score with some Text Preprocessing


This kernel is an improved version of @Dieter's work.
> https://www.kaggle.com/christofhenkel/how-to-preprocessing-when-using-embeddings

This is also how I caught a glimpse of spelling mistakes in the database.

In [1]:
import pandas as pd
import numpy as np

import re

## Loading data

In [2]:
df = pd.read_csv('../data/data.tsv', sep='\t', header=None, names=['query_id', 'query_text', 'passage_text', 'label', 'passage_id'])
print(df.shape)
df.head()

(5241880, 5)

,query_id,query_text,passage_text,label,passage_id
0,0,. what is a corporation?,A company is incorporated in a specific nation...,0,0
1,0,. what is a corporation?,"Today, there is a growing community of more th...",0,1
2,0,. what is a corporation?,"Corporation definition, an association of indi...",0,2
3,0,. what is a corporation?,Examples of corporation in a Sentence. 1 He w...,0,3
4,0,. what is a corporation?,1: a government-owned corporation (as a utilit...,0,4

In [3]:
text_cols = ['query_text', 'passage_text']
for col in text_cols:
    df[col] = df[col].apply(lambda x: x.lower())
    
df.head()

,query_id,query_text,passage_text,label,passage_id
0,0,. what is a corporation?,a company is incorporated in a specific nation...,0,0
1,0,. what is a corporation?,"today, there is a growing community of more th...",0,1
2,0,. what is a corporation?,"corporation definition, an association of indi...",0,2
3,0,. what is a corporation?,examples of corporation in a sentence. 1 he w...,0,3
4,0,. what is a corporation?,1: a government-owned corporation (as a utilit...,0,4

In [4]:
contraction_mapping = {"ain't": "is not", "aren't": "are not","can't": "cannot", "'cause": "because", "could've": "could have", "couldn't": "could not", "didn't": "did not",  "doesn't": "does not", "don't": "do not", "hadn't": "had not", "hasn't": "has not", "haven't": "have not", "he'd": "he would","he'll": "he will", "he's": "he is", "how'd": "how did", "how'd'y": "how do you", "how'll": "how will", "how's": "how is",  "I'd": "I would", "I'd've": "I would have", "I'll": "I will", "I'll've": "I will have","I'm": "I am", "I've": "I have", "i'd": "i would", "i'd've": "i would have", "i'll": "i will",  "i'll've": "i will have","i'm": "i am", "i've": "i have", "isn't": "is not", "it'd": "it would", "it'd've": "it would have", "it'll": "it will", "it'll've": "it will have","it's": "it is", "let's": "let us", "ma'am": "madam", "mayn't": "may not", "might've": "might have","mightn't": "might not","mightn't've": "might not have", "must've": "must have", "mustn't": "must not", "mustn't've": "must not have", "needn't": "need not", "needn't've": "need not have","o'clock": "of the clock", "oughtn't": "ought not", "oughtn't've": "ought not have", "shan't": "shall not", "sha'n't": "shall not", "shan't've": "shall not have", "she'd": "she would", "she'd've": "she would have", "she'll": "she will", "she'll've": "she will have", "she's": "she is", "should've": "should have", "shouldn't": "should not", "shouldn't've": "should not have", "so've": "so have","so's": "so as", "this's": "this is","that'd": "that would", "that'd've": "that would have", "that's": "that is", "there'd": "there would", "there'd've": "there would have", "there's": "there is", "here's": "here is","they'd": "they would", "they'd've": "they would have", "they'll": "they will", "they'll've": "they will have", "they're": "they are", "they've": "they have", "to've": "to have", "wasn't": "was not", "we'd": "we would", "we'd've": "we would have", "we'll": "we will", "we'll've": "we will have", "we're": "we are", "we've": "we have", "weren't": "were not", "what'll": "what will", "what'll've": "what will have", "what're": "what are",  "what's": "what is", "what've": "what have", "when's": "when is", "when've": "when have", "where'd": "where did", "where's": "where is", "where've": "where have", "who'll": "who will", "who'll've": "who will have", "who's": "who is", "who've": "who have", "why's": "why is", "why've": "why have", "will've": "will have", "won't": "will not", "won't've": "will not have", "would've": "would have", "wouldn't": "would not", "wouldn't've": "would not have", "y'all": "you all", "y'all'd": "you all would","y'all'd've": "you all would have","y'all're": "you all are","y'all've": "you all have","you'd": "you would", "you'd've": "you would have", "you'll": "you will", "you'll've": "you will have", "you're": "you are", "you've": "you have" }

In [5]:
def clean_contractions(text, mapping):
    specials = ["’", "‘", "´", "`"]
    for s in specials:
        text = text.replace(s, "'")
    text = ' '.join([mapping[t] if t in mapping else t for t in text.split(" ")])
    return text

In [6]:
for col in text_cols:
    df[col] = df[col].apply(lambda x: clean_contractions(x, contraction_mapping))
    
df.head()

,query_id,query_text,passage_text,label,passage_id
0,0,. what is a corporation?,a company is incorporated in a specific nation...,0,0
1,0,. what is a corporation?,"today, there is a growing community of more th...",0,1
2,0,. what is a corporation?,"corporation definition, an association of indi...",0,2
3,0,. what is a corporation?,examples of corporation in a sentence. 1 he w...,0,3
4,0,. what is a corporation?,1: a government-owned corporation (as a utilit...,0,4

## Now, let us deal with special characters

In [7]:
punct = "/-'?!.,#$%\'()*+-/:;<=>@[\\]^_`{|}~" + '""“”’' + '∞θ÷α•à−β∅³π‘₹´°£€\×™√²—–&'

In [8]:
punct_mapping = {"‘": "'", "₹": "e", "´": "'", "°": "", "€": "e", "™": "tm", "√": " sqrt ", "×": "x", "²": "2", "—": "-", "–": "-", "’": "'", "_": "-", "`": "'", '“': '"', '”': '"', '“': '"', "£": "e", '∞': 'infinity', 'θ': 'theta', '÷': '/', 'α': 'alpha', '•': '.', 'à': 'a', '−': '-', 'β': 'beta', '∅': '', '³': '3', 'π': 'pi', }

In [9]:
def clean_special_chars(text, punct, mapping):
    for p in mapping:
        text = text.replace(p, mapping[p])
    
    for p in punct:
        text = text.replace(p, f' {p} ')
    
    specials = {'\u200b': ' ', '…': ' ... ', '\ufeff': '', 'करना': '', 'है': ''}  # Other special characters that I have to deal with in last
    for s in specials:
        text = text.replace(s, specials[s])
    
    return text

In [10]:
for col in text_cols:
    df[col] = df[col].apply(lambda x: clean_special_chars(x, punct, punct_mapping))
    
df.head()

,query_id,query_text,passage_text,label,passage_id
0,0,. what is a corporation ?,a company is incorporated in a specific nation...,0,0
1,0,. what is a corporation ?,"today , there is a growing community of more ...",0,1
2,0,. what is a corporation ?,"corporation definition , an association of in...",0,2
3,0,. what is a corporation ?,examples of corporation in a sentence . 1 he...,0,3
4,0,. what is a corporation ?,1 : a government - owned corporation ( as ...,0,4

### What's still missing ? 
- Unknown words
- Acronyms
- Spelling mistakes

## We can correct manually most frequent mispells

In [11]:
mispell_dict = {' efinition': 'definition', ' onfidence':'confidence', ' irections': 'directions', 
                 ' itamin':'vitamin', ' epending':'depending', ' auses':'causes', 
                 ' nstructions':'instructions', ' ypically': 'typically', ' ummary':'summary',
                 'acronymfinder':'acronym finder', 'wikianswers®':'wiki answers', 
                 ' ackground':'background', ' omments': 'comments', ' uscle': 'muscle',
                 'microsoft®': 'microsoft', ' iktionary': 'dictionary', ' nswered': 'answered',
                 ' rigin': 'origin', ' ypical': 'typical', 'botox®': 'botox', ' elevance':'relevance',
                 ' epatitis': 'hepatitis', ' alcium': 'calcium'
                 }

In [12]:
def correct_spelling(x, dic):
    for word in dic.keys():
        x = x.replace(word, dic[word])
    return x

In [13]:
for col in text_cols:
    df[col] = df[col].apply(lambda x: correct_spelling(x, mispell_dict))
    
df.head()

,query_id,query_text,passage_text,label,passage_id
0,0,. what is a corporation ?,a company is incorporated in a specific nation...,0,0
1,0,. what is a corporation ?,"today , there is a growing community of more ...",0,1
2,0,. what is a corporation ?,"corporation ddefinition , an association of i...",0,2
3,0,. what is a corporation ?,examples of corporation in a sentence . 1 he...,0,3
4,0,. what is a corporation ?,1 : a government - owned corporation ( as ...,0,4

### That's all for now !

#### Improvement ideas: 
> Replace acronyms with their meaning

> Replace unknown words with a more general term : 
 - ex : fortnite, pubg -> video game

In [9]:
df.to_csv('../data/data_p.tsv', sep='\t', index=False, header=None)